@font-face {
  font-family: 'Norse-Bold';
  src: url(./Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.photo {
  flex: 2;
  height: 100%;
  background-image: url(./bg.avif);
  display: flex;
  flex-direction: column;
}

.photo h1{
  font-family: 'Norse-Bold';
  color: white;
}

.photo p, .photo a {
  color: #dedede;
  margin: 0;
  margin-bottom: 5px;
}

.photo p {
  justify-self: flex-end;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 40%;
  margin-bottom: auto;
  height: 18%;
  font-size: 32px;
  padding: 10px 0;
}

.photo img {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

.form {
  flex: 3;
  height: 100%;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

form {
  background-color: white;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form .line {
  display: flex;
  margin: 20px 0;
}

.form button {
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 190px;
  height: 40px;
  margin-left: 50px;
}

.form h4 {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.form a {
  color: #596D48;
  text-decoration: none;
}

.text {
  margin: 0px 50px;
}

.form form {
  padding-left: 50px;
}

form label {
  text-transform: uppercase;
  font-size: 15px;
}

form .input {
  width: 50%;
}

form input {
  border: solid 1px #E5E7EB;
  padding: 4px;
  width: 85%;
  border-radius: 3px;
}

form .error {
  border-color: red;
}

form .error::after {
  color: red;
  content: "*Passwords do not match";
}

form input:focus {
  box-shadow: 1px 1px 4px black;
}

.input p {
  color: red;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 10px;
}

.input .hidden {
  display: none;
}